:host {
    display: block;
    background-color: #f4f6f9;
}

.header-column {
    padding: 0 12rem;
}

.field-title {
    padding: 1rem 13.7rem;
    font-size: 1.6rem;
    color: #54698d;
}

.c-container {
    padding: 2rem 12rem;
}


